notebook.json
[{"id":"d5a05afe.029128","type":"tab","label":"notebook","disabled":true,"info":""},{"id":"9aac7ccf.0575c","type":"http request","z":"d5a05afe.029128","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":160,"wires":[["35ef9424.17ff4c"]]},{"id":"35ef9424.17ff4c","type":"function","z":"d5a05afe.029128","name":"Pre Prediction","func":"var YearsExperience = global.get('YearsExperience')\nvar token=msg.payload.access_token\nvar instance_id=\"4bc60926-782e-4acd-a694-f1813e39d062\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"fields\": [\"YearsExperience\"] , \"values\": [[YearsExperience]]}\nreturn msg;\n","outputs":1,"noerr":0,"x":560,"y":300,"wires":[["4fabbbc2.805d44","874a5461.eff1a8"]]},{"id":"4fabbbc2.805d44","type":"http request","z":"d5a05afe.029128","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/4bc60926-782e-4acd-a694-f1813e39d062/deployments/44376dc9-6088-4f4c-b3cb-4a2c611bb3cf/online","tls":"","persist":false,"proxy":"","authType":"","x":650,"y":240,"wires":[["235860aa.932be"]]},{"id":"3828a285.a137fe","type":"ui_text","z":"d5a05afe.029128","group":"f3c52f0f.1a398","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":740,"y":100,"wires":[]},{"id":"235860aa.932be","type":"function","z":"d5a05afe.029128","name":"","func":"msg.payload=msg.payload.values[0][0][0]\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":180,"wires":[["3828a285.a137fe","874a5461.eff1a8"]]},{"id":"5e83168c.892f08","type":"ui_form","z":"d5a05afe.029128","name":"","label":"","group":"f3c52f0f.1a398","order":1,"width":0,"height":0,"options":[{"label":"YearsExperience","value":"yr","type":"number","required":true,"rows":null}],"formValue":{"yr":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":230,"y":340,"wires":[["e9728729.6a2d58"]]},{"id":"e9728729.6a2d58","type":"function","z":"d5a05afe.029128","name":"","func":"global.set(\"YearsExperience\",msg.payload.yr)\nvar apikey=\"vaMtg6zuLiaplIdWNmjOwpNqqd44om0yWWTp7xLO2m2d\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":220,"wires":[["9aac7ccf.0575c"]]},{"id":"874a5461.eff1a8","type":"debug","z":"d5a05afe.029128","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":930,"y":280,"wires":[]},{"id":"fef6ed9b.42c81","type":"inject","z":"d5a05afe.029128","name":"","topic":"","payload":"5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":180,"wires":[["e9728729.6a2d58"]]},{"id":"f3c52f0f.1a398","type":"ui_group","z":"","name":"prediction","tab":"79df1171.aa3e6","order":1,"disp":true,"width":"6","collapse":false},{"id":"79df1171.aa3e6","type":"ui_tab","z":"","name":"Prediction ","icon":"dashboard","disabled":false,"hidden":false}]